{{ partial "header.html" . }}

<h2>#{{ .Title }} tag</h2>
<p>All posts tagged with <b>#{{ .Title }}</b>:
{{ .Content }}
{{ $counter := 0 }}
{{ range.Paginator.Pages }}
  {{ if lt $counter 20 }}
<article class="post-snippet">
<a href="{{ .RelPermalink }}">{{ .Title }}</a>  
	<time style="float:right" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}" >
		{{ .Date.Format "January 2, 2006" }}
	</time>
</article> 
  {{ $counter = add $counter 1 }}
  {{ end }}
{{ end }}  {{ template "partials/pagination.html" . }}

{{ partial "footer.html" . }}
